@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #E16F55;
    height: 100vh;
    display: grid;
    place-content: center;
  }
}

@layer utilities {
  .btn {
    @apply hover:bg-gray-200 w-full py-2 px-3 text-left rounded-md transition-all ease-in-out duration-200
  }
}